id: tentacle-server-blue-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: tentacle-server-blue
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 2
  replicaSelector:
    name: tentacle-server-blue
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: tentacle-server-blue
      app: tentacle-server-blue
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: tentacle-server-blue
        containers:
          - name: tentacle-server-blue
            image: octoblu/tentacle-server:$SHORT_COMMIT
            ports:
              - containerPort: 80
            env:
              - name: DEBUG
                value: "meshblu*"
